body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .container {
    max-width: 900px;
    margin: 120px auto 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
*/
.media {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.account-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.account-heading {
    font-size: 2em;
    color: #343a40;
}

.text-secondary {
    font-size: 1.2em;
    color: #6c757d;
}

.main-style fieldset {
    border: none;
}

.main-style legend {
    text-align: left;
    font-size: 1.5em;
    color: #343a40;
    margin-bottom: 20px;
}

.main-style .form-group {
    margin-bottom: 20px;
}

.main-style .form-label,
.main-style .form-control-label {
    font-size: 1.1em;
    color: #343a40;
    font-weight: bold;
}

.main-style .form-control-lg {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    color: #495057;
}

.main-style .form-check-input {
    margin-right: 10px;
}

.main-style .form-check-label {
    color: #343a40;
}

.main-style .btn-outline-info {
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.main-style .btn-outline-info:hover {
    background-color: #23272b;
}

.flash-message {
    margin-bottom: 20px;
}

.border-top {
    border-top: 1px solid #ced4da;
    padding-top: 20px;
    text-align: center;
}

.border-top .text-muted a {
    color: #343a40;
    text-decoration: none;
    font-weight: bold;
}

.border-top .text-muted a:hover {
    text-decoration: underline;
}
