{% extends "base.html" %}
{% block body %}
<div class="container">
  <h1>Add Answers</h1>
  <form method="POST" action="{{ url_for('add_answer', question_id=question_id) }}">
    {{ form.hidden_tag() }}
    <!-- Display question_id field -->
    <div class="form-group">
      {{ form.question_id.label(class="form-control-label") }}
      {{ form.question_id(class="form-control") }}
      {% if form.question_id.errors %}
      <div class="invalid-feedback">
        {% for error in form.question_id.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Display answer input fields -->
    <fieldset class="form-group">
      {% for answer_form in form.answers %}
      <div class="form-group">
        {{ answer_form.answer.label(class="form-control-label") }}
        {% if answer_form.answer.errors %}
        {{ answer_form.answer(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in answer_form.answer.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ answer_form.answer(class="form-control") }}
        {% endif %}
      </div>
      <div class="form-check">
        {{ answer_form.is_correct(class="form-check-input") }}
        <label class="form-check-label">Is Correct Answer?</label>
      </div>
      {% endfor %}
    </fieldset>

    <!-- Submit button -->
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info")}}
    </div>
  </form>
</div>
{% endblock %}
