<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
  {% if title %}
  <title>QuizzeMaster - {{ title }}</title>
  {% else %}
  <title>QuizzeMaster</title>
  {% endif %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <a class="navbar-brand" href="home">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="QuizMaster" width="30" height="24">
        </a>
      </div>
      <ul>
        <li><a href="#features">Leaderboard</a></li>
        <li><a href="#quiz">Quizzes</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
      <div class="auth-buttons">
        <a aria-current="page" href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Account</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Log In</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <div class="container">
    <!-- Flash Messages Popup -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for cat, msg in messages %}
    <div class="alert alert-{{ cat }}">
      {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
  </div>

  <!--footer added -->
  <footer>
    <div class="footer-content">
      <p>&copy; 2024 QuizMaster App. All rights reserved.</p>
      <div class="footer-links">
        <a href="#terms">Terms of Service</a>
        <a href="#privacy">Privacy Policy</a>
        <a href="#contact">Contact Information</a>
      </div>
      <div class="social-media">
        <a href="https://facebook.com"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
        <a href="https://twitter.com"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"></a>
        <a href="https://linkedin.com"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="Linkedin"></a>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>
